
@{ // indique qu'on utilise du code Razor
    // ici il s'agit d'une propriété
    // Une vue est donc une class, ici elle herite de la class "View" et à pour propriété Layout
    // Touts les codes non gérés par Razor devront être affichés en faisant un un ConsolWriteLine("html.html"...à la place du meta name dans le Head) impossible a maintenir comme code

    //Layout = null;

    // Un Layout ...d'executer une View dans un Layout
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Archery.Models.HomeIndexViewModel


<div class="row">
    @foreach (var item in Model.Tournaments)
    {


        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>@item.Name</h3>
                    <p>@item.Location</p>
                    <p>@item.StartDate.ToString("ddd dd MMM yyyy ")</p>
                    <p><a href="#" class="btn btn-primary" role="button">S'inscrire</a></p>
                </div>
            </div>
        </div>
    }
</div>
