
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading"><h2>@RenderSection("SectionTitle", true)</h2>
        <div class="panel-body">
            @RenderBody()
        </div>
    </div>
</div>


@section SectionScripts{
    <script src="~/Scripts/jquery.validate.min.js"></script> @*// à mettre avant le non unobstruse apres ce script pour le fonctionnement du script ci dessous qui est lié à ce script : permet une validation coté client > econnomie d'appel coté server*@
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script> @*// à mettre avant le non unobstruse : permet une validation coté client > economie d'appel cote server*@
    @RenderSection("SectionScripts", false)}

